<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('links')-%>
        <title>404</title>
</head>

<body>
    <div id="pageContainer">
        <div id="styles404">
            <header>
                <%-include('nav')-%>
            </header>
            <section id="cont404">
                <h1 id="title404">Page was not found</h1>
                <img id="img404" src="/images/404img.svg" alt="">
                <a id="back404" href="/"><button class="searchButtons">Go Back</button></a>
            </section>
            <%-include('minFooter')-%>
        </div>
    </div>
</body>

</html>