<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Movie Room About Us</title>
</head>

<body>
    <div id="pageContainer">
        <div id="aboutContent">
            <header id="navAbout">
                <nav>
                    <ul id="liContainer">
                        <li class="links"><a class="navAlinks" href="/">Home</a></li>
                        <li class="links"><a class="navAlinks" href="/about">About</a></li>
                        <li class="links"><a class="navAlinks" href="/search">Search Movies</a></li>
                    </ul>
                </nav>
            </header>
            <a name="behindThisWebsite"></a>
            <section id="thisWebsite">
                <div>
                    <img src="/images/undraw_Freelancer_re_irh4 1 Edited.svg" alt="undraw Freelancer">
                </div>
                <div class="aboutInfo">
                    <h1>What is it about?</h1>
                    <p>This website allows the user to gather information about all the gratest movies. The user
                        can also search for other movies thanks to the implementation of the omdb api allowing the site
                        to
                        gather
                        the information of millions of movies.</p>
                </div>
            </section>
            <hr>
            <a name="goal"></a>
            <section id="goal">
                <div class="aboutInfo">
                    <h1>Goal of this website</h1>
                    <p>My goal of this website is to further expand my knowledge in the world of web development and
                        recieve
                        user feedback on what to improve and later be able to integrate a backend using nodeJs.</p>
                </div>
                <div class="imgBackground">
                    <img src="/images/undraw_Reviewed_docs_re_9lmr1Edited.svg" alt="Undraw Reviewing Documents">
                </div>
            </section>
            <hr>
            <a name="who"></a>
            <section id="who">
                <div class="imgBackground">
                    <img src="/images/undraw_profile_pic_ic5t1Edited.svg" alt="Undraw Profile Pic">
                </div>
                <div class="aboutInfo">
                    <h1>About me</h1>
                    <p>Im Michael Maldonado, I recently started the web development journey since february 2020 with my
                        goal to land a web development job. Started my journey learning on my own through the internet
                        and also learning programming through college. </p>
                </div>
            </section>
            <hr>
            <a name="contact"></a>
            <section id="contact">
                <div id="formContainer">
                    <form autocomplete="off">
                        <h1>Contact Us</h1>
                        <label for="fName">First Name</label>
                        <input id="fName" type="text" name="fName" placeholder="First Name">
                        <label for="lName">Last Name</label>
                        <input id="lName" type="text" name="lName" placeholder="Last Name">
                        <label for="feedback">Feedback</label>
                        <textarea name="feedback" rows="5" cols="50" placeholder="Let us know on what to improve!">
                        </textarea>
                        <button>Send</button>
                        <hr>
                        <div id="socialList">
                            <ul>
                                <li><a href="https://github.com/Mike1938" target="_"><i
                                            class="fab fa-github fa-2x"></i></a>
                                </li>
                                <li><a href="https://www.facebook.com/" target="_"><i
                                            class="fab fa-facebook fa-2x"></i></a>
                                </li>
                                <li><a href="mailto:mmaldonadosan&#64;outlook&#46;com"><i
                                            class="far fa-envelope fa-2x"></i></a>
                                </li>
                                <li><a href="https://twitter.com/home" target="_"><i
                                            class="fab fa-twitter fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="imgBackground">
                    <img src="/images/undraw_contact_us_15o21Edited.svg" alt="Undraw Contact us">
                </div>
            </section>
        </div>
        <footer id="fullFooterContainer">
            <div id="pageSections">
                <h2>Page Sections</h2>
                <ul>
                    <li><a href="#behindThisWebsite">What is it about?</a></li>
                    <li><a href="#goal">Goal of this website</a></li>
                    <li><a href="#who">About me</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>
            <div id="gitHub">
                <p><a href="https://github.com/Mike1938" target="_"><i class="fab fa-github fa-lg"></i></a></p>
            </div>
            <div id="email">
                <p><a href="mailto:mmaldonadosan&#64;outlook&#46;com"><i class="far fa-envelope fa-lg"></i></a></p>
            </div>
            <div id="faceBook">
                <p><a href="https://www.facebook.com/" target="_"><i class="fab fa-facebook fa-lg"></i></a></p>
            </div>
            <div id="twitter">
                <p><a href="https://twitter.com/home" target="_"><i class="fab fa-twitter fa-lg"></i></a></p>
            </div>
            <div id="otherPages">
                <h2>Other Pages</h2>
                <ul>
                    <li><a href="/l">HomePage</a></li>
                    <li><a href="/search">Search Movies</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/legal">Legal</a></li>
                </ul>
            </div>
            <div id="top">
                <a href="#Top"><i class="fas fa-arrow-up fa-lg"></i>Back To Top</a>
            </div>
            <div id="copyRight">
                <hr>
                <p>&copyMalsan Inc. 2020</p>
            </div>
        </footer>
    </div>
</body>

</html>