<footer id="fullFooterContainer">
    <div id="pageSections">
        <h2>Page Sections</h2>
        <ul>
            <li><a href="#tenet">Tenet</a></li>
            <li><a href="#enola">Enola Holmes</a></li>
            <li><a href="#theDevil">The Devil All The Time</a></li>
            <li><a href="#social">The Social Dilemma</a></li>
            <li><a href="#topMovies">Top Movies</a></li>
        </ul>
    </div>
    <div id="gitHub">
        <p><a href="https://github.com/Mike1938" target="_"><i class="fab fa-github fa-2x"></i></a></p>
    </div>
    <div id="email">
        <p><a href="mailto:mmaldonadosan&#64;outlook&#46;com"><i class="far fa-envelope fa-2x"></i></a></p>
    </div>
    <div id="faceBook">
        <p><a href="https://www.facebook.com/" target="_"><i class="fab fa-facebook fa-2x"></i></a></p>
    </div>
    <div id="twitter">
        <p><a href="https://twitter.com/home" target="_"><i class="fab fa-twitter fa-2x"></i></a></p>
    </div>
    <div id="otherPages">
        <h2>Other Pages</h2>
        <ul>
            <li><a href="/">HomePage</a></li>
            <li><a href="/search">Search Movies</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/legal">Legal</a></li>
        </ul>
    </div>
    <div id="top">
        <a href="#Top"><i class="fas fa-arrow-up fa-lg"></i>Back To Top</a>
    </div>
    <div id="copyRight">
        <hr>
        <p>&copyMalsan Inc. 2020</p>
    </div>
</footer>