<footer id="minFooterCont">
    <div id="minInfoCont">
        <div>
            <p><a class="minSocials" href="https://github.com/Mike1938" target="_"><i
                        class="fab fa-github fa-2x"></i></a></p>
            <p><a href="https://twitter.com/home" target="_"><i class="fab fa-twitter fa-2x"></i></a></p>
        </div>
        <div>
            <h3>Other Pages</h3>
            <ul id="minOtherPages">
                <li><a href="/">HomePage</a></li>
                <li><a href="/search">Search for movies</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/legal">Legal</a></li>
            </ul>
        </div>
        <div>
            <p><a class="minSocials" href="https://www.facebook.com/" target="_"><i
                        class="fab fa-facebook fa-2x"></i></a></p>
            <p><a href="mailto:mmaldonadosan&#64;outlook&#46;com"><i class="far fa-envelope fa-2x"></i></a></p>
        </div>
    </div>
    <p><a href="#top"><i class="fas fa-arrow-up fa-lg"></i> Back to top</a></p>
    <hr>
    <p>&copy Malsan inc. 2020</p>
</footer>