<nav>
    <ul id="liContainer">
        <li class="links"><a class="navAlinks" href="/">Home</a></li>
        <li class="links"><a class="navAlinks" href="/about">About</a></li>
        <li class="links"><a class="navAlinks" href="/search">Search Movies</a></li>
    </ul>
</nav>