<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('links')-%>
        <title>Search For Movies</title>
</head>

<body>
    <div id="pageContainer">
        <div id="searchSyles">
            <header id="navSearch">
                <%-include('nav')-%>
                    <form id="searchFormContainer" action="/search" method="GET" autocomplete="off"
                        onsubmit="return validate()">
                        <label for="search">Movie Title</label>
                        <input id="searchForm" name="q" type="text" placeholder="Movie Title">
                        <button class="searchButtons" id="searchButton">Search</button>
                    </form>
            </header>
            <div id="featMovies">
                <h1>Recomended Movies</h1>
                <div id="movies">
                    <div>
                        <h2>Mulan</h2>
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSyJDRzqBTmIwwTS3JfkIX5ErJ-G5g1n1HZZg0iDfOzJndHoXv9"
                            alt="Mulan poster">
                        <form action="/search/movieDetails/tt4566758" method="GET">
                            <button class="searchButtons">More Info</button>
                        </form>
                    </div>
                    <div>
                        <h2>Onward</h2>
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRL5NftthLrQB8UTygm_-jHq1y9V4dHZDHGgOBt4ZZPPdhGfmAm"
                            alt="Onward poster">
                        <form action="/search/movieDetails/tt7146812" method="GET">
                            <button class="searchButtons">More Info</button>
                        </form>
                    </div>
                    <div>
                        <h2>Hamilton</h2>
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTKkupry5uKCFNgfFkbxl10ome6s-Wxib8MEOFK311tvyZgjzCf"
                            alt="Hamilton Poster">
                        <form action="/search/movieDetails/tt8503618" method="GET">
                            <button class="searchButtons">More Info</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%-include('minFooter')-%>
    </div>
    <script src="/scripts/validateForms.js"></script>
</body>

</html>