body, html{
    margin: 0;
    height: 100%;
    background-color: #313B4E;
    font-family: 'Raleway', sans-serif;
}
#pageContainer{
    min-width: 100%;
}
#content{
    /* padding-bottom: 2.5rem; */
    color: white;
}
/** navbar styling */
header li:nth-of-type(2){
    background-color: #b84e4e;
}
/** ==================== */
/*? global styling */
h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
img{
    padding: 10px 70px;
    border-radius: 15px;
    background-color: #494769;
    box-shadow: 1px 10px 10px rgba(0,0,0,0.15);
    width: 600px;
    height: 600px;
}
hr{
    margin: 0;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(230, 100, 100, 0.85), rgba(0, 0, 0, 0));
}
.info{
    margin: 0 50px;
}
/*? ====================== */
/** styling for this website section */
#thisWebsite{
    height: 100vh;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
/** ===================== */
/*? All styling for GOAL section */
#goal{
    height: 100vh;
    background-color: #7288C1;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "info image";
}
#goal .info{
    grid-area: info;
}
#goal .imgBackground{
    grid-area: image;
}
/*? ====================== */
/** all styling for the WHO section */
#who{
    height: 100vh;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
/** ========================== */
/*? all styling for CONTACT section */
#contact{
    height: 100vh;
    background-color: #7288C1;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;    
    grid-template-columns: 1fr 1fr;
}
#formContainer{
    margin: 50px;
    padding: 40px;
    border-radius: 15px;
    background-color: #494769;
}
#formContainer i{
    margin-top: 15px;
}
form{
    text-align: left;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}
input, button{
    font-size: 1rem;
    height: 40px;
    border-radius: 10px;
    border: none;
}
button{
    background-color: #df6565;
    color: #ffff;
}
textarea{
    border-radius: 10px;
}
#formContainer h1{
    margin: 0;
    margin-bottom: 10px;
}
#formContainer li{
    list-style: none;
    display: inline;
    padding: 0 50px;
}
#socialList{
    margin-top: 20px;
}
#formContainer ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
#formContainer a{
    color: #ffff;
    transition: ease-in 100ms;
}
#formContainer a:hover{
    transition: ease-in 100ms;
    color: #df6565;
}
/*? ========================= */
@media(max-width: 1267px){
    
    h1{
        margin-top: 0;
    }
    img{
        width: 500px;
        height: 500px;
    }
    #contact img{
        display: none;
    }
    #thisWebsite{
        grid-template-columns: 1fr;
    }
    #goal{
        grid-template-columns: 1fr;
        grid-template-areas: "image"
        "info";
    }
    #who{
        grid-template-columns: 1fr;
    }
    #contact{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 580px){
    img{
        width: 300px;
        height: 300px;
    }
}