body, html{
    margin: 0;
    height: 100%;
    background-color: #313B4E;
    font-family: 'Raleway', sans-serif;
}
#pageContainer{
    min-width: 100vh;
}
#content{
    /* padding-bottom: 2.5rem; */
    color: white;
}
header li:nth-of-type(2){
    background-color: #b84e4e;
}
#thisWebsite{
    height: 100vh;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
#goal{
    height: 100vh;
    background-color: #7288C1;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
#who{
    height: 100vh;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
#contact{
    height: 100vh;
    background-color: #7288C1;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;    
    grid-template-columns: 1fr 1fr;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
img{
    margin: 100px;
    padding: 10px 70px;
    border-radius: 15px;
    background-color: #494769;
    box-shadow: 1px 10px 10px rgba(0,0,0,0.15);
    width: 500px;
    height: 500px;
}
.info{
    margin: 50px;
}
hr{
    margin: 0;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(230, 100, 100, 0.85), rgba(0, 0, 0, 0));
}