body, html{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #313B4E;
    color: white;
}
#pageContainer{
    position: relative;
    min-width: 100vh;
}
#content{
    padding-bottom: 26rem;
}
.info{
    font-size: 1.5rem;
}

#movie{
    background-color: #494769;
    border-radius: 12px;
    padding: 100px;
    display: grid;
    margin: 150px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#sec1{
    justify-self: center;
    align-self: center;
    margin-left: 10px ;
}
#sec1 img{
    width: 400px;
    height: 600px;
}
#sec2{
    /* margin-top: 150px; */
    align-self: center;
}
h1{
    margin-top: 0;
    align-items: flex-start;
    font-size: 3rem;
}
span{
    color: #e05959;
    font-weight: bold;
}
#year{
    font-size: 2rem;
}
#sec3{
    /* margin-top: 150px; */
    align-self: center;
}
#sec2 , #sec3{
    margin-right: 100px;
}

@media(max-width: 1854px){
    #movie{
        grid-template-columns: repeat(2, 1fr);
    }
    #sec1{
        margin-top: 30px;
    }
    #sec2, #sec3{
        padding-left: 30px ;
    }
}
@media(max-width: 1481px){
    #sec1{
        margin: 30px auto;
    }
    #movie{
        grid-template-columns: 1fr;
    } 
}
@media(max-width:895px){
    #sec1 img{
        width: 300px;
        height: 450px;
    }
    /* #sec1, #sec2{
        padding-left: 20px ;
    } */
}