/*? Navigation bar styles */
#liContainer{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #D86767;
    box-shadow: 2px 2px 15px #242121;
    width: 100%;
}
.links{
    transition: ease-in 200ms;
    float: left;
    padding: 0 8px;
    display: inline;
    line-height: 40px;
}
.links:hover{
    transition: ease-in 200ms;
    background-color: #b84e4e;
}
.links:nth-of-type(2) ,.links:nth-of-type(3){
    float: right;
    padding: 0 8px;
}
.navAlinks{
    color: #ffff;
    text-decoration: none;
}
/*?=============================== */