*{
    font-family: 'Raleway', sans-serif;
}
body, html{
    margin: 0;
    height: 100%;
    background-color: #313B4E;
}
#content{
    padding-bottom: 15.5rem ;
}
#pageContainer{
    position: relative;
    min-height: 100%;
}
Header{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    color: #ffff;
}
/*? header styling */
Header h1{
    margin-left: 50px;
}
form{
    text-align: center;
}
#searchForm{
    border: none;
    font-size: 1rem;
    text-indent: 10px;
    width: 50%;
    height: 30px;
    border-radius: 8px;
}
#formButton{
    color: #ffff;
    background-color: #FF6363;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}
#formButton:hover{
    cursor: pointer;
}
/* ?================= */
/*? Movie results syling */
img{
    width: 300px;
    height: 450px;
}
#movieContainer h3{
    margin: 20px 15px ;
}
#movieContainer{
    margin: 50px;
    border-radius: 12px;
    background-color: #494769;
    gap: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #ffff;
    padding-bottom: 50px;
}
#movieContainer button{
    background-color: #FF6363;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: ease-in 200ms;
}
#movieContainer button:hover{
    transition: ease-in 200ms;
    cursor: pointer;
    box-shadow: 2px 2px 0px #3f3e3e;
}
/*? ============== */
.valError::placeholder {
    text-align: center;
    font-weight: bold;
    color: red;
}
#wasNotFound{
    grid-column: 1/5;
    font-size: 3rem;
}
@media(max-width: 1577px){
    #movieContainer{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width: 1175px){
    h1{
        font-size: 1.5rem;
    }
    #movieContainer{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 801px){
    #formButton{
        width: 50px;
        font-size: .6rem;
    }
    h1{
        font-size: 1.3rem;
    }
    #movieContainer{
        grid-template-columns: repeat(1,1fr);
    }
}