
body, html{
    height: 100%;
    background-color: #313B4E;
    color: #ffff;
    margin: 0;
}
/*? Navigation bar styles */
#liContainer{
    background-color: #D86767;
    list-style-type: none;
    height: 40px;
    padding: 0;
    margin: 0;
}
.links{
    display: inline;
    line-height: 40px;
    margin-left: 10px ;
}
.links:nth-of-type(2) ,.links:nth-of-type(3){
    float: right;
    margin: 0 10px;
}
.navAlinks{
    color: #ffff;
    text-decoration: none;
}
/*?=============================== */
#container{
    height: 50%;
    margin: 10%;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #494769 ;
    gap: 30px;
    border-radius: 12px;
}
label{
    font-size: 3rem;
}
#searchForm{
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
}
button{
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #FF6363;
    margin: 0 auto;
    height: 30px;
    width: 50%;
}