*{
    font-family: 'Raleway', sans-serif;
}
body,html{
    background-color: #313B4E;
    height: 100%;
    margin: 0;
    color: #ffff;
}
header li:nth-of-type(1){
    background-color: #b84e4e;
}
#pageContainer{
    position: relative;
    min-height: 100%;
}
#content{
    height: 100%;
}
/** firts section of page/landing page area */
#mainSearch{
    height: 100vh;
    background-image: url("/images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#searchGrid{
    margin-top: 20px;
    text-align: center;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 100px;
}
#searchGrid h1{
    font-size: 6rem;
    margin: 0;
}
#searchGrid p{
    font-size: 1.5rem;
}
#mainSearch form{
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    gap: 10px;
}
#mainSearch input{
    height: 30px;
    border-radius: 10px;
    border: none;
}
#mainSearch button{
    background-color: #FF6363;
    color: #ffff;
    width: 300px;
    justify-self: center;
    height: 30px;
    border-radius: 8px;
    border: none;
}
#mainSearch button:hover{
    transition: ease-in 100ms;
    cursor: pointer;
    background-color: #d34242;
}
#mainSearch label{
    font-size: 2.5rem;
}
#mainSearch input::placeholder , #mainSearch input{
    text-indent: 10px;
}
.valError::placeholder {
    text-align: center;
    font-weight: bold;
    color: red;
    text-indent: 0px !important;
}
/** ============================= */
hr{
    margin: 0;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(235, 70, 70, 0.75), rgba(0, 0, 0, 0));
}
/*? grid sytem for all the full viewPort Images */
.movieTitle{
    grid-column: 1/3;
    font-size: 3rem;
    margin: 0 30px;
}
.movieTrailer{
    justify-self: center;
    grid-row: 2/3;
    margin: 0 30px;
}
.movieInfo{
    text-align: left;
    background-color: rgba(54, 27, 97, 0.507);
    border-radius: 12px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 10px rgb(34, 33, 33);
    grid-column: 2/3;
    grid-row: 2;
    padding: 15px;
    margin: 0 30px;
}
.movieInfo p{
    padding-left: 40px;
}
.movieInfo h3{
    text-align: left;
    padding-left: 40px;
    font-size: 2rem;
}
.shortInfo{
    grid-column: 2/3;
}
.red{
    color: #b84e4e;
}
.movieFrame{
    width: 800px ;
    height: 450px;
}
.movieInfo li{
    list-style: none;
    font-size: 1.5rem;
    padding-top: 10px;
}
/*? ============================= */
/** tenet stylings */
#tenet{
    background-image: url("/images/tenetDarken.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
/** ===================== */
/*? enola stlyings */
#enola{
    background-image: url("/images/EnolaDarken.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
/*? ====================== */
/** the devil all the time */
#theDevil{
    background-image: url("/images/theDevilAllTheTimeDarken.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
/** ====================== */
/*? the social dilemma stylings */
#socialDilemma{
    background-image: url("/images/theSocialDilemmaDarken.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
/*? ====================== */
/*?! top movies section styles */
#featureGrid{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#inception{
    height: 100%;
    background-image: url("/images/inception_.jpg");
    background-position: center;
    background-size: cover;
}

#joker{
    height: 100%;
    background-image: url("/images/joker.jpg");
    background-position: center;
    background-size: cover;
}
#fightClub{
    height: 100%;
    background-image: url("/images/fightClub.jpg");
    background-size: cover;
    background-position: center;
}
#featureGrid button{
    background-color: #FF6363;
    border: none;
    width: 30%;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 8px;
    transition: ease-in 100ms;
}
#featureGrid button:hover{
    transition: ease-in 100ms;
    background-color: #be4343;
    cursor: pointer;
}
.fadeBox{
    transition: ease-in 200ms;
    opacity: 1.0;
}
.fadeBox:hover{
    transition: ease-in 200ms;
    opacity: .5;
}
.fadeInfo{
    display: none;
}
.fadeBox:hover .fadeInfo{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    transition: ease-in 200ms;
}
.fadeBox:hover .fadeInfo h2{
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgb(31, 29, 29);
    align-self: center;
}
/*? Full footer styles */
#fullFooterContainer{
    box-shadow: 2px 2px 20px rgba(53, 50, 50, 0.5);
    color: #ffff;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
    background-color: #1C1919;
}
#pageSections, #otherPages{
    margin: 0 20px;

}
#top{
    grid-column: 1/7;
    padding-bottom: 15px;
    font-size: 1.2rem;
}
#copyRight{
    grid-column: 1/7;
}
#fullFooterContainer h2{
    color: #D86767;
}
#fullFooterContainer a{
    color: #ffff;
    text-decoration: none;
    transition: ease-in 100ms;
}#fullFooterContainer a:hover{
    transition: ease-in 100ms;
    color: #FF6363;
}
#fullFooterContainer ul{
    list-style: none;
    padding: 0;
}
#fullFooterContainer li{
    padding-top: 20px;
}
#fullFooterContainer i{
    display: block;
    text-align: center;
    padding-bottom: 10px
}
#otherPages{
    text-align: end;
}
#fullFooterContainer #copyRight{
    width: 100%;
    text-align: center;
}
#fullFooterContainer #copyRight p{
    font-size: 1rem;
}
/**Min footer styles */
#minFooterCont{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 18.5rem;
    background-color: #1C1919;
}
#minInfoCont{
    color: #ffff;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    text-align: center;
}
#minFooterCont h3{
    color: #D86767;
}
#minFooterCont hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(226, 71, 71, 0.75), rgba(0, 0, 0, 0));
}
#minOtherPages{
    list-style: none;
    margin: 0;
    padding: 0;
}
#minOtherPages li{
    margin-top: 15px;
}
#minOtherPages a{
    transition: ease-in 100ms;
    text-decoration: none;
    color: #ffff;
}
#minFooterCont p{
    color: #ffff;
    text-align: center;
    margin-bottom: 0;
}
#minFooterCont a:hover, #minOtherPages a:hover, #minOtherPages i:hover, .fa-arrow-up:hover{
    transition: ease-in 100ms;
    color: #FF6363;
}
#minFooterCont p a{
    transition: ease-in 100ms;
    color: #ffff;
    text-decoration: none;
}
.fa-arrow-up{
    margin-bottom: 8px ;
    display: block;
}
.minSocials{
    transition: ease-in 100ms;
    color: #ffff;
}
/*! MEDIA QUERIES==========================*/
@media(max-width: 1325px){
    #tenet, #enola, #theDevil, #socialDilemma{
        grid-template-columns: 1fr;
        grid-row: 1fr;
    }
    .movieTitle h2{
        align-self: center;
        margin: 20px;
    }
    .movieTitle{
        grid-row: 1;
    }
    .movieFrame{
        width: 700px;
        height: 400px;
        grid-row: 2;
    }
    .movieTitle{
        font-size: 2.5rem;
    }
    .movieInfo{
        grid-column: 1/3;
        grid-row: 3;
        margin: 0;
        border-radius: 0;
        font-size: 1.2rem;
    }
    .movieInfo li{
        font-size: 1.2rem;
    }
}
@media(max-width: 950px){
    #featureGrid{
        grid-template-columns: 1fr;
    }
    .movieFrame{
        width: 500px;
        height: 300px;
    }
    #mainSearch form{
        grid-template-columns: 400px;
    }
}
@media(max-width: 700px){
    #footerContainer{
        text-align: center;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        row-gap:10px ;
    }
    #pageSections{
        grid-column: 1/3;
    }
    #otherPages{
        text-align:center;
        grid-column: 1/3;
    }
    #email{
        grid-row: 3/3;
    }
    #gitHub{
        grid-row: 3/3;
    }
    #faceBook{
        grid-row: 5/5;
    }
    #twitter{
        grid-row: 5/5;
    }
    #top{
        grid-row: 7/7;
    }
    #copyRight{
        grid-row: 8/8;
    }
    #pageSections, #otherPages{
        margin: 0;
    
    }
}
@media(max-width:585px){
    .movieFrame{
        width: 350px;
        height: 200px;
    }
}